*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
code/runs/*
!code/runs/Original*
!code/runs/1Layer*
!code/runs/2Layer*
__pycache__/
*.npy
*.so
.rendered